html,
body {
    position: relative;
    height: 100%;
}
body {
    background-color: #323232;
    font-size: Helvetica Neue, Helvetica;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}   

.swiper {
    width: 100%;
}